spring:
  application:
    name: api-gateway

#api gateway config
  cloud:
    gateway:
      routes:
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/orders/**
#            - Method=GET,POST

        - id: inventory-service
          uri: lb://INVENTORY-SERVICE
          predicates:
              - Path=/inventory/**

#eureka configuration
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
